@import "/src/general/styles/index.scss";

.language-button {
  border: none;
  border-radius: 10px;
  background-color: inherit;
  padding: 8px;
  color: $gray-200;
  font-size: 14px;

  &:hover {
    cursor: pointer;
  }
}

.language-button--active {
  background-color: $gray-300 !important;
  color: $gray-100 !important;
}
