@import "/src/general/styles/index.scss";

.language-button {
    background-color: inherit;
    border: none;
    color: $gray-200;
    border-radius: 10px;
    font-size: 14px;
    padding: 8px;

    &:hover {
        cursor: pointer;
    }
}

.language-button--active {
    background-color: $gray-300;
    color: $gray-100;
}