@import "/src/general/styles/index.scss";

.text {
  margin-top: 24px;

  &__text-area {
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 190px;
    resize: none;
    color: $light;
    font-size: $font-150;
  }

  &__length {
    color: $gray-100;
    font-size: $font-50;
    text-align: end;
  }
}
