@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

$font-family: "DM Sans", sans-serif;

$font-base: 16px;

$font-50: $font-base * 0.75;
$font-50: $font-base * 0.875;
$font-100: $font-base;
