@import "./reset.scss";
@import "./colors";
@import "./font";

body {
  background-image: url("/src/general/assets/hero_img-mobile.webp");
  background-position: top center;
  background-size: fill;
  background-repeat: no-repeat;
  background-color: $dark;
  font-family: $font-family;
}

@media (width >= 991px) {
  body {
    background-image: url("/src/general/assets/hero_img-desktop.jpg");
    background-size: cover;
  }
}
