@import "/src/general/styles/index.scss";

.card-layout {
  backdrop-filter: blur(10px);
  border: 1px solid $gray-200;
  border-radius: 24px;
  padding: 24px;
  width: 100%;
  min-height: 336px;
}

@media (width >= 1200px) {
  .card-layout {
    width: 550px;
  }
}
