@import "/src/general/styles/colors";

.swap-button {
  display: flex;
  border: none;
  border: 2px solid $gray-200;
  border-radius: 12px;
  background-color: transparent;
  padding: 6px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
