@import "/src/general/styles/colors";

.languages-control {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.languages {
  &-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    select {
      border: none;
      border-radius: 8px;
      background-color: $gray-300-cc;
      padding: 5px;
      color: $gray-100;

      option {
        color: $light;
      }
    }
  }
}
